#access {
  height: 850px;
  margin-top: 0;
  padding-top: 80px;
  background-color: #A193861F;

}

#access .container {
  width: 100%;
  height: 396px;
  margin: 0;
  display: flex;
  background-color: #D0C5BA;

  @include sp {
    flex-direction: column-reverse;
    height: auto;
  }
}

.access-desc {
  width: 507px;
  padding: 100px 50px;

  li {
    color: #fff;
    line-height: 40px;
  }
  
  .list-title {
    font-size: 24px;
    font-weight: bold;
    color: #00000038;
  }
}

iframe {
  flex-grow: 1;
}